.vscode/**
.codeidx/**
.zoek-rs/**
.gitignore
node_modules/**
src/**
test/**
out/test/**
dist/**
*.vsix
*.map
**/*.map
tsconfig.json
package-lock.json
AGENTS.md
SPEC.MD
IMPLEMENTATION_PLAN.MD
PUBLISHING.MD
media/README.MD
